div.react-calendar {
  font-family: "Noto Sans JP", sans-serif;
}

div.react-calendar--doubleView {
  width: 100%;
  border: none;
  margin: 0;
}

div.react-calendar .react-calendar__month-view {
  border: 1px solid #c2c2c2;
  margin: 0;
}

div.react-calendar .react-calendar__navigation__label__divider {
  visibility: hidden;
  width: 20%;
}

div.react-calendar .react-calendar__navigation button {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
}

div.react-calendar .react-calendar__tile {
  height: 60px;
  padding: 0;
  border: 1px solid #c2c2c2;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7px;
}

div.react-calendar__month-view__weekdays {
  border: 1px solid #c2c2c2;
}

button.react-calendar__month-view__days__day--weekend {
  color: #000;
}

button.react-calendar__tile--now {
  background-color: #fff;
  color: #000;
}

button.react-calendar__navigation__next-button,
button.react-calendar__navigation__prev-button {
  color: #04512a;
}

div.react-calendar--doubleView .react-calendar__viewContainer {
  margin: 0;
  gap: 3.5rem;
}

div.react-calendar__navigation {
  height: unset;
}

button.react-calendar__month-view__days__day--neighboringMonth abbr {
  display: none;
}

button.react-calendar__tile--active {
  background: #04512a !important;
  color: #fff;
}

button.react-calendar__tile--active .symbols span {
  color: #fff;
}

button.react-calendar__tile--active:enabled:hover,
button.react-calendar__tile--active:enabled:focus {
  background: #04512a;
}

div.react-calendar__navigation button:enabled:hover,
div.react-calendar__navigation button:enabled:focus {
  background-color: #fff;
}

button.sunday-tile {
  background-color: #ffeeee;
}

button.saturday-tile {
  background-color: #eef3ff;
}
button.holiday-tile {
  background-color: #ffeeee;
}

div.react-calendar__month-view__weekdays__weekday {
  font-weight: 400;
}

div.react-calendar__month-view__weekdays__weekday:last-child {
  color: #ff0000;
}

div.react-calendar__month-view__weekdays__weekday:nth-last-of-type(2) {
  color: #0029ff;
}

div.react-calendar__navigation button:disabled {
  background-color: #fff;
  color: #949494;
}

button.react-calendar__month-view__days__day--neighboringMonth .day-cell {
  visibility: hidden;
}

button.react-calendar__month-view__days__day--neighboringMonth {
  background: #f0f0f0 !important;
  pointer-events: none;
}

button.react-calendar__tile--now:enabled:hover,
button.react-calendar__tile--now:enabled:focus {
  background: #04512a;
}

.react-calendar__navigation__label {
  pointer-events: none;
}

button.react-calendar__tile:disabled {
  background-color: #f4f4f4;
}

@media only screen and (max-width: 768px) {
  div.react-calendar {
    width: 100%;
    border: none;
  }
  div.react-calendar .react-calendar__month-view {
    margin: 0;
  }
  div.react-calendar__navigation {
    padding: 0 20px;
  }
  div.react-calendar .react-calendar__tile {
    height: 50px;
  }
  div.react-calendar .react-calendar__tile {
    padding-top: 5px;
  }
}
