@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Noto Sans JP", sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

abbr:where([title]) {
  text-decoration: none;
}

/* Steps arrow css properties */
.stepArrow::after {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-color: #d9d9d9;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  position: absolute;
  top: 4px;
  right: -18px;
  z-index: 10;
  transform: rotate(45deg);
}
.isActive.stepArrow::after {
  background-color: #04512a;
}
.isActive {
  background-color: #04512a;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .stepArrow::after {
    width: 37px;
    height: 37px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    top: 5px;
    right: -5px;
  }

  .stepArrow01::after {
    content: "";
    display: block;
    height: 100%;
    width: 25px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 5;
  }
  .stepArrow02::before {
    content: "";
    display: block;
    height: 100%;
    width: 25px;
    background-color: #04512a;
    position: absolute;
    top: 0;
    left: -13px;
    z-index: 5;
  }
  .stepArrow02::after {
    content: "";
    display: block;
    height: 100%;
    width: 25px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 5;
  }
  .stepArrow03::before {
    content: "";
    display: block;
    height: 100%;
    width: 25px;
    background-color: #04512a;
    position: absolute;
    top: 0;
    left: -13px;
    z-index: 5;
  }
}

.auth0-lock.auth0-lock .auth0-lock-widget {
  width: 800px !important;
  height: 400px !important;
}
